# Python
*.pyc
__pycache__/
venv/
env/
*.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
venv/
env/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.egg-info/
dist/
build/

./leader/data/
./leader/logs/
./leader/dump/

./replica/data/
./replica/logs/
./replica/dump/